<div class="message">
  <div class="message-self" id="message-<%= message.id %>">
    <%# <i class="author tooltip"> %>
      <%# <span><%= message.user.profile.nickname %></span>
      <%# <small><%= message.created_at.strftime("%e/%m/%Y - %T") %></small>
    <%# </i> %>
    <% if message.user.profile.photo.attached? %>
      <%= cl_image_tag message.user.profile.photo.key, class: "avatar" %>
    <% else %>
      <%= image_tag "avatar-placeholder.gif", class: "avatar" %>
    <% end %>
    <b>&nbsp :<%= message.user.profile.nickname %></b>
    <% if message.content.include? "http://" or message.content.include? "https://" %>
      <a href="<%=message.content%>" target="_blank"> <%=message.content%> </a>
    <% else %>
      <p><%= message.content %></p>
    <% end %>
    
</div>
</div>