<% @profiles.each do |profile| %>
  <% if UserInteraction.all.where(action_user: current_user).where(target_user: profile).length.zero?%>
 <%#<% raise %>
  <h3><%= link_to profile.nickname, profile_path(profile)%></h3>
  <%= cl_image_tag profile.photo.key, height: 150, width: 200, crop: :fill %>
  <%= button_to 'X', { :controller => "user_interactions", :action => "create", user_interaction: { :liked => false, :target_user_id => profile.id } }, :method=>:post, class: "btn btn-danger" %>
  <%= button_to 'Y', { :controller => "user_interactions", :action => "create", user_interaction: { :liked => true, :target_user_id => profile.id } }, :method=>:post, class: "btn btn-success" %>
  <%# <%= simple_form_for @user_interaction do |f| %>
    <%# <%= f.button :submit, name: "liked", value: true, class:"btn btn-success" %>
    <%# <%= f.button :submit, name: "liked", value: false, class:"btn btn-danger" %>
  <%# <% end %>

<%end%>
<%end%>
