
<h1><%=@profile.nickname%></h1>
<h3><%=@profile.first_name%> <%=@profile.last_name%></h3>
<p><%= @profile.gender %></p>
<p><%= @profile.city %></p>
<p><%= @profile.description %></p>
<%= link_to "Back to Profiles", profiles_path%>
