<div class="container d-flex justify-content-between">
  <div class="cards">
    <div class="card-profile">
      <div class="profile-title">
        <h2><%=@profile.first_name%> <%=@profile.last_name%></h2>
      </div>
      <div class="photo-box">
        <% if @profile.photo.attached? %>
            <%= cl_image_tag @profile.photo.key, height: 225, width: 275, crop: :fill %>
          <% else %>
            <%= image_tag "avatar-placeholder.gif", height: 225, width: 275, crop: :fill %>
        <% end %>
      </div>
      <div class="col-md-auto">
        <div class="box-info">
          <h1><%=@profile.nickname%></h1>
          <h3><%=@profile.favorite_role%></h3>
          <p><%= @profile.gender %></p>
          <p><%= @profile.country %></p>
          <p><%= @profile.state %></p>
          <p><%= @profile.city %></p>
        </div>
      </div>

    </div>
  </div>
    <div class="profile-info">
      <div class="box-quote">
         <h1><%= @profile.description %></h1>
      </div>
      <div class="btn-chat">
        <% if current_user.profile == @profile%>
          <%= link_to "Editar Perfil", edit_profile_path(@profile), class: "btn btn-primary"%>
        <% end %>
        <%= link_to "Back to Profiles", profiles_path, class: "btn btn-primary"%>
      </div>
    </div>
</div>



