<div class="container">
  <% @user_groups.each do |group| %>
  <div class="cards">
    <div class="card-group">

      <div class="group-title">
        <h1> <%= group.name %> <%= '- Grupo Novo' if @new_groups.include?(group) %> </h1>
        <div class="group-photo-box">
          <% if group.photo.attached? %>
            <%=link_to (cl_image_tag group.photo.key, height: 225, width: 275, crop: :fill) %>
          <% else %>
            <%=link_to (image_tag "icon.png", height: 225, width: 275, crop: :fill) %>
          <% end %>
        </div>
          <div class="col-md-auto">
            <div class="box-info">
              <h2>Mestre - <%= group.master.nil? ? "Sem mestre" : group.master&.nickname %> </h2>
              <p> <%= group.description %> </p>
              <p>Sistema: <%= group.game_system %></p>
              <% group.group_members.each do |member|%>
                <% member.been_viewed if member.profile == current_user.profile %>
                <div class="members d-flex">
                  <% if member.profile.photo.attached? %>
                    <%=link_to (cl_image_tag member.profile.photo.key, crop: :fill, class: "avatar"),  profile_path(member.profile) %>
                  <% else %>
                    <%=link_to (image_tag "avatar-placeholder.gif", crop: :fill, class: "avatar"),  profile_path(member.profile) %>
                  <% end %>
                  <% if member.profile == group.master %>
                    <h3><b><%= link_to member.profile.nickname, profile_path(member.profile)%></b></h3>
                  <% else %>
                    <h3> <%= link_to member.profile.nickname, profile_path(member.profile) %> </h3>
                  <% end %>
                  <p><%= member.profile.city %> </p>
                </div>
                <% end %>
            </div>

      </div>
      <% if group.chatroom %>
       <%= link_to "Chatroom", chatroom_path(group.chatroom)%>

  <% end %>

      <%= link_to "Back to Profiles", profiles_path%>
    </div>
  </div>
  <% if group.master == current_user.profile %>
        <%= link_to "Editar Grupo", edit_group_path(group), class: "btn btn-primary" %>
        <% end %>
</div>
<% end %>
