<div class="container">
  <div class="col">
    <% @user_groups.each do |group| %>
    <div class="group-data">
      <div class="header">
        <h1> <%= group.name %> </h1>
        <% if group.photo.attached? %>
          <%=link_to (cl_image_tag group.photo.key, height: 200, width: 400, crop: :fill) %>
        <% else %>
          <%=link_to (image_tag "icon.png", height: 200, width: 400, crop: :fill) %>
        <% end %>
        <h2>Mestre - <%= group.master.nil? ? "Sem mestre" : group.master&.nickname %> </h2>
      </div>
      <div class="management">
        <% if group.master == current_user.profile %>
          <%= link_to "Editar Grupo", edit_group_path(group), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="groupDescription">
        <p> <%= group.description %> </p>
        <p>Sistema: <%= group.game_system %></p>
      </div>
        <% group.group_members.each do |member|%>
        <div class="members d-flex">
          <% if member.profile.photo.attached? %>
            <%=link_to (cl_image_tag member.profile.photo.key, crop: :fill, class: "avatar"),  profile_path(member.profile) %>
          <% else %>
            <%=link_to (image_tag "avatar-placeholder.gif", crop: :fill, class: "avatar"),  profile_path(member.profile) %>
          <% end %>
          <% if member.profile == group.master %>
            <h3><b> <%= link_to member.profile.nickname, profile_path(member.profile) %> </h3></b>
          <% else %>
            <h3> <%= link_to member.profile.nickname, profile_path(member.profile) %> </h3>
          <% end %>
          <p><%= member.profile.city %> </p>
        </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Back to Profiles", profiles_path%>
  </div>
</div>
